<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat-Da-Burger</title>
		<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
    <div class="container">
		
      	<div class="row">
        <div class="col-lg-offset-5 col-lg-7">
		<img src="assets/img/burger.png" style="width:10vw;height:20vh;">
		</div>
		</div>
		<div class="row">
		<div class = "col-lg-offset-4 col-lg-8">
		{{{ body }}}
		</div>
		</div>
		</div>
	</body>
</html>
